# __Toronto's Neighborhood analysis__

_The following notebook contains the capstone project for the Toronto's neighborhood analyisis_

### First we must import the required libraries

In [1]:
#For the first assignment, only pandas is required
import pandas as pd # library to process data as dataframes
print('Libraries imported.')

Libraries imported.

### Now we must import and create the pandas dataframe from the wikipedia source

In [3]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]
df_toronto = pd.DataFrame(df)
#This dataframe has the raw or unprocessed data
df_toronto

,Postal code,Borough,Neighborhood
0,M1A,Not assigned,NaN
1,M2A,Not assigned,NaN
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,Regent Park / Harbourfront
...,...,...,...
175,M5Z,Not assigned,NaN
176,M6Z,Not assigned,NaN
177,M7Z,Not assigned,NaN
178,M8Z,Etobicoke,Mimico NW / The Queensway West / South of Bloo...
179,M9Z,Not assigned,NaN

### After transfomring the data into a Pandas dataframe we must clean the data with the following criteria:

- Remove "Not assigned" Borough rows
- Merge neighborhoods with the same postal code
- Assign the same borough to "Not assigned" neighborhood name

In [15]:
#Get the rows with Borough = Not assigned and add it to an array so we can know the index of each row.

index_Borough_not_assigned = df_toronto[df_toronto['Borough'] == 'Not assigned'].index

# Delete these row indexes from dataFrame

df_toronto.drop(index_Borough_not_assigned, inplace=True)

df_toronto

,Postal code,Borough,Neighborhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,Regent Park / Harbourfront
5,M6A,North York,Lawrence Manor / Lawrence Heights
6,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government
...,...,...,...
160,M8X,Etobicoke,The Kingsway / Montgomery Road / Old Mill North
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,Business reply mail Processing CentrE
169,M8Y,Etobicoke,Old Mill South / King's Mill Park / Sunnylea /...
178,M8Z,Etobicoke,Mimico NW / The Queensway West / South of Bloo...